$footerLine: 73%;
.form-section {
    background: linear-gradient(
        to bottom,
        $bg_main 0%,
        $bg_main $footerLine,
        $bg_footer $footerLine,
        $bg_footer 100%
    );
}

.form-container {
    padding-top: 18rem;
    margin-left: 29rem;
    
    .form-box {
        background-color: $bg_intro;
        border-radius: 1rem;
        max-width: 86.7rem;
        height: 27.5rem;

        .form-text-container {
            margin: 0 10rem;

            h1 {
                font-size: 3.2rem;
                margin: 0;
                padding-top: 4rem;
            }

            p {
                font-family: 'Open sans';
                margin: 0 2rem;
                padding-top: 1.5rem;
            }
        }

        form {
            padding-top: 0.5rem;

            input {
                font-family: 'Raleway';
                font-size: 1.2rem;
                text-indent: 3rem;
                border: none;
                border-radius: 4rem;
                height: 5rem;
                width: 48rem;
                margin-right: 3rem;
            }

            input:focus {
                outline: none;
            }

            .button-form {
                font-size: 1.4rem;
                font-weight: 400;
                border-radius: 4rem;
                height: 5rem;
                width: 20rem;
                margin-bottom: 0;
            }
        }
    }
}

.form-error-message {
    color: red;
    text-align: start;
    font-size: 1rem;
    font-weight: 700;
    padding-left: 12rem;
    margin-top: 0.6rem;
}