.header-container {
    background-color: $bg_intro;
}

.header {
    padding-top: 7.5rem;
    margin-left: 8rem;
    margin-right: 7.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Raleway';

    img {
        align-self: center;
    }

    .text-button {
        margin-left: 4.8rem;
    }
}

.header__buttons {
    align-self: center;
}