.hero-container {
    background-color: $bg_intro;
    position: relative;
    width: 1440px;
}

.hero {
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7.5rem;
    position: relative;
    z-index: 1;

    .heading {
        margin-top: 3.7rem;
        margin-bottom: 3.4rem;
        font-size: $heading_1;
    }

    p {
        margin: 0;
        padding-left: 8rem;
        padding-right: 8rem;
        font-size: 2rem;
    }

    .hero-button {
        background: linear-gradient(90deg, $cyan, $blue);
        color: $white;
        font-size: 1.6rem;
        border-radius: 3rem;
        border: none;
        padding: 1.8rem 10rem;
        margin: 3rem 0;
    }

    .intro-button:hover {
        background: hsl(178, 62%, 74%);
        cursor: pointer;
    }
}

.background{
    background-color: $bg_intro;
    background-image: url('images/bg-curvy-desktop.svg');
    position: absolute;
    top: 73rem;
    left: 0;
    height: 420px;
    width: 1440px;
    z-index: 0;
}