$bg_testimonials: hsl(219, 30%, 18%);
$bg_main: hsl(218, 28%, 13%);
$bg_footer: hsl(216, 53%, 9%);
$bg_intro: hsl(217, 28%, 15%);

//Accents
$cyan: hsl(176, 68%, 64%); // (inside call-to-action gradient)
$blue: hsl(198, 60%, 50%); // (inside call-to-action gradient)
$light-red: hsl(0, 100%, 63%); // error

$white: hsl(0, 0%, 100%);